* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}
/* HEADER DO QUADRO */
#header-quadro {
    background: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-quadro h1 {
    font-size: 22px;
}

#header-quadro nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN DO QUADRO */
#main-quadro {
    padding: 20px;
}

/* COLUNAS DO KANBAN */
#columns-quadro {
    display: flex;
    gap: 20px;
}

/* COLUNA A FAZER */
#todo {
    border-radius: 10px;
    height: 750px;
    background-color: #d9534f;
    width: 33%;
}

/* COLUNA FAZENDO */
#doing {
    border-radius: 10px;
    height: 750px;
    background-color: #fbff00;
    width: 33%;
}

/* COLUNA PRONTO */
#done {
    border-radius: 10px;
    height: 750px;
    background-color: #28a745;
    width: 33%;
}

/* CARTÕES DE TAREFA */
.task-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* AÇÕES */
.actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* BOTÕES */
button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit {
    background: #0a66c2;
    color: white;
}

.delete {
    background: #d9534f;
    color: white;
}

/* SELECT DE STATUS */
.status-select {
    width: 100%;
    margin-top: 10px;
    padding: 6px;
}

/* BOTÃO DE MUDAR STATUS */
.change-status {
    margin-top: 5px;
    width: 100%;
    background: #28a745;
    color: white;
}

/* BOTÃO DE ADICIONAR */
.add-btn {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* TÍTULOS DAS COLUNAS */
h3 {
    margin-top: 20px;
    text-align: center;
}
